/* You can add global styles to this file, and also import other style files */

html, body { height: 100%;}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
*, *:before, *:after {
  box-sizing: border-box;
}

.row {
  margin: 0px -15px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.col {
  width: 100%;
  margin: 0 15px 10px;
}
 .col-50 {
   width: calc(50% - 30px);
   margin: 0 15px 10px;
 }
